Imported Data

In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/selva86/datasets/master/Ionosphere.csv"
df = pd.read_csv(url)
df.head()

#class is defendent variable
#v1-v34 are indifendent variables

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V26,V27,V28,V29,V30,V31,V32,V33,V34,Class
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,1
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,0
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,1
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,0
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,1

In [ ]:
x = df.drop(['Class'], axis = 1)
y = df['Class']
print(y)

0      1
1      0
2      1
3      0
4      1
      ..
346    1
347    1
348    1
349    1
350    1
Name: Class, Length: 351, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

x_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

### *Train Model*

**Import Defendencies**

In [ ]:
from keras.models import Sequential, load_model
from keras.layers import Dense, Dropout

Build Model

In [ ]:
model = Sequential()
model.add(Dense(units=10,activation='relu',input_dim = len(x_train.columns)))
model.add(Dense(units=5,activation='relu'))
model.add(Dense(units=1,activation='sigmoid'))
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 10)                350

 dense_6 (Dense)             (None, 5)                 55

 dense_7 (Dense)             (None, 1)                 6

=================================================================
Total params: 411
Trainable params: 411
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.fit(x_train,y_train,validatio_data)

In [ ]:
# model.compile(loss='binary_crossentropy',optimizer='sgd',metric='accuracy')